.Navigation{
    width: 100%;
    height: 130px;
    background: rgb(231,231,240);
    background: linear-gradient(183deg, rgba(231,231,240,1) 7%, rgba(172,217,255,1) 87%);
    position: fixed;
}

/* 
.logoNavigation{
   width: 150px;
    height: 100px;
    display: inline-block;
    vertical-align: center;
    border: 1px solid black;
} */

.logoNavigation{
    display: inline-block;
    vertical-align: center;
    margin-left: 20px;
    background-image: url("C:/Users/HDcomputers/Desktop/Portal/portal/src/images/PortallogoPNG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10px;
    color:#e7e7f0;
    width: 10%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
}
.miamiNavigation{
    display: inline-block;
    vertical-align: center;
    font-family: 'Open Sans', sans-serif;
    color:gray;
    width: 10%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
}
.newyorkNavigation{
    display: inline-block;
    vertical-align: center;
    color:gray;
    font-family: 'Open Sans', sans-serif;
    width: 10%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
}
.baltimoreNavigation{
    display: inline-block;
    vertical-align: center;
    font-family: 'Open Sans', sans-serif;
    color:gray;
    width: 10%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
}

.aboutNavigation{
    display: inline-block;
    vertical-align: center;
    margin-left: 400px;
    font-family: 'Open Sans', sans-serif;
    color:gray;
    width: 10%;
    height: 130px;
   
    text-align: center;
    padding-top: 50px;
}
.contactNavigation{
    display: inline-block;
    vertical-align: center;

    color:gray;
    font-family: 'Open Sans', sans-serif;
    width: 10%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
}
.languageNavigation{
    display: inline-block;
    vertical-align: center;
    color:gray;
    font-family: 'Open Sans', sans-serif;
    width: 10%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
   
}
.languageSwitcher{
    font-size: 16px;
    color:gray;
    background: rgb(231,231,240);
    background: linear-gradient(183deg, rgba(231,231,240,1) 7%, rgba(172,217,255,1) 87%);
    cursor: pointer;
}

.contactNavigation{
    position: relative;
    text-decoration: none;
}

.contactNavigation::after{
    content: "";
    position: absolute;
    background-color:#e7e7f0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 45px;

}

.contactNavigation:hover::after{
    width: 50%;
    margin-left: 60px;
    transition: 0.6s;
}






.baltimoreNavigation{
    position: relative;
    text-decoration: none;
}
.baltimoreNavigation::after{
    content: "";
    position: absolute;
    background-color:#e7e7f0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 45px;

}
.baltimoreNavigation:hover::after{
    width: 50%;
    margin-left: 60px;
    transition: 0.6s;
}





.newyorkNavigation{
    position: relative;
    text-decoration: none;
}
.newyorkNavigation::after{
    content: "";
    position: absolute;
    background-color:#e7e7f0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 45px;

}
.newyorkNavigation:hover::after{
    width: 50%;
    margin-left: 60px;
    transition: 0.6s;
}






.miamiNavigation{
    position: relative;
    text-decoration: none;
}
.miamiNavigation::after{
    content: "";
    position: absolute;
    background-color:#e7e7f0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 45px;

}
.miamiNavigation:hover::after{
    width: 50%;
    margin-left: 60px;
    transition: 0.6s;
}







.aboutNavigation{
    position: relative;
    text-decoration: none;
}
.aboutNavigation::after{
    content: "";
    position: absolute;
    background-color:#e7e7f0;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 45px;

}
.aboutNavigation:hover::after{
    width: 50%;
    margin-left: 60px;
    transition: 0.6s;
}