/* .davo{
    display:inline-block;
    vertical-align: center;
    background: rgb(231,231,240);
background: linear-gradient(4deg, rgba(231,231,240,1) 0%, rgba(172,217,255,1) 100%);
    width: 100%;
    height: 700px;
   font-size: 60px;
  color:hsla(0, 0%, 100%, 0.763);
  
} */

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 800px;
    vertical-align: auto;
    background: rgb(231,231,240);
    background: linear-gradient(183deg, rgba(231,231,240,1) 7%, rgba(172,217,255,1) 87%);

}

.b{
    width: 100%;
    height: 800px;
    background: rgb(231,231,240);
    background: linear-gradient(356deg, rgba(231,231,240,1) 7%, rgba(172,217,255,1) 87%);

}

.c{
    width: 100%;
    height: 800px;
    background: rgb(231,231,240);
    background: linear-gradient(180deg, rgba(231,231,240,1) 19%, rgba(172,217,255,1) 98%);
}

.logo{
    width: 130px;
    height:120px;
    /* border: 1px solid black; */
    background-image: url("C:/Users/HDcomputers/Desktop/Portal/portal/src/images/PortallogoPNG.png");
   /* margin-top:100px;
   margin-left:300px; */
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left:30px;
}


/* .selectflags{
    width: 300px;
    height: 140px;
} */
.img111{
    width: 100%;
    height: 100%;
}

.navbar{
    display:inline-block;
    margin-left:100px;
    color:red;
    font-weight: bolder;;
}

.selectflags{
    margin-left:400px;
}